.background-header {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("./images/me.jpg");
    background-color: #cccccc;
    height: 844px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

body {
    padding-top: 72px;
}

.flash-game {
    width: 550px;
    height: 400px;
    vertical-align: center;
}

.portrait {
    margin-bottom: 10px;
}

.project-grid {
    display: "flex";
    flex-wrap: "wrap";
    flex-flow: "row wrap";
    justify-content: "space-around";
}

.project-grid .project {
    background-color: #ffffff;
    width: 300px;
    height: 200px;
    margin: 60px;
    display: "flex";
}

.project-title, .project-grid p {
    color: white;
    text-align: center;
    margin: 10px;
}

.project-grid p {
    font-size: 12px;
}

.project-complete {
    color: #00ff00;
    font-weight: bold;
}

.project-ongoing {
    color: #ffff00;
    font-weight: bold;
}

.overlay {
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    opacity: 0;
    justify-content: center;
    align-self: center;
    transition: .5s;
    background-color: #000000;
}

.overlay:hover {
opacity: 0.75;
}

a i {
    color: inherit;
}

hr {
    background-color: white;
}