.nav {
    /* background-color: #B10000; */
    background: #BC4749;
    margin: 0;
    /* padding: 13px 10px 10px 10px; */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100vw;
    position: fixed;
    z-index: 100;
}

.nav-button {
    /* width: 100%; */
    padding: 20px;
    text-align: center;
    font-family: 'Poppins', 'Arial';
    font-size: 30px;
    font-weight: bolder;
    color: #fff;
    transition: 0.3s;
}

.nav-button:hover {
    background: #D52927;
    cursor: pointer;
}

.center {
    margin: auto;
    display: block;
    margin-bottom: 40px;
    max-width: 100vw;
}

.landing {
    max-width: 100vw;
}

.landing img {
    max-width: 100vw;
    filter: brightness(.25);
}

* {
    margin: 0px;
}

html {
    background: #F2E8CF;
}

a {
    color: #fff;
    text-decoration: none;
}

a:visited {
    color: #fff;
    text-decoration: none;
}

p {
    font-family: 'Lato';
    font-size: 24px;
    text-align: center;
    /* background: #F2E8CF; */
    /* color: #6A994E; */
    /* margin-left: 25%; */
    /* margin-right: 25%; */
}

.section {
    padding: 5% 20%;
}

.section:nth-child(odd) {
    background: #F2E8CF;
    color: #386641;
}

.section:nth-child(even) {
    background: #BC4749;
    color: #FFF;
}

strong {
    color: #6A994E
}

.static {
    filter: brightness(.4);
    transition: 0.3s;
}

/* .static { */
    /* position: absolute; */
/* } */

.active {
    position: absolute;
}

.static .active {
    max-height: 100vh;
    max-width: 100vw;
    margin: 0;
}

.static:hover {
    opacity: 0;
    transition: 0.3s;
}

.section.gifs {
    display: grid;
    gap: 30px;
    padding: 10%;
}

.gif {
    position: relative;
}

.gif.one {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 4;
}

.gif.two {
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 3;
}

.gif.three {
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 3;
    grid-column-end: 4;
}